body {
    background-color: #e9e9e9;
}

.card {
    background-color: #ffffff;
    border: 1px rgba(136, 136, 136, 0.623) solid;
    border-radius: 6px;
    margin: 6px;
    width: 100px;
    height: 150px;
    display: inline-block;
    /* color: rgb(247, 0, 255); */
    position: relative;
}


.card[symbol="♣"], 
.card[symbol="♠"] {
    color: rgb(0, 26, 255);
}


.card[symbol="♦"], 
.card[symbol="♥"] {
    color: red;
}


.card-corner {
    margin: 5px;
    font-family: monospace;
    text-align: center;
    position: absolute;
}


.top-left {
    margin: 0px;
    top: 0px;
    left: 0px;
}


.bottom-right {
    /* position: absolute; */
    right: 0px;
    bottom: 0px;
    /* margin: 3px; */
    /* transform: scale(1,-1); */
    transform: rotate(0.5turn);
}


.symbols {
    position: relative;
    height:  100%;
}


.symbols div {
    position: absolute;
    font-size: 28px;
}


.card[number="2"].symbol div {
    left: 50%;
    transform:  translateX(-50%);
}

.card[number="2"].symbol div:nth-child(1) {
    top: 20px;
}

.card[number="2"].symbol div:nth-child(2) {
    top: 20px;
    transform:  translateX(-50%) rotate(0.5turn);
}