body {
    background-image: url("./back3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    background-color: #e9e9e9;
}


.card[symbol="♣"], 
.card[symbol="♠"] {
    color: rgb(0, 16, 156);
}


.[symbol="♦"], 
.[symbol="♥"] {
    color: rgb(189, 0, 0);
}


.container {
    background-color: #ffffff;
    border: 3px rgba(192, 192, 192, 0.726) solid;
    border-radius: 6px;
    margin: 6px;
    width: 100px;
    height: 150px;
    display: inline-block;
    /* color: rgb(247, 0, 255); */
    position: relative;
    box-shadow: 5px 5px 15px rgba(20, 20, 20, 0.5);
    width: 100%;
}




/* 
.card-corner {
    font-family: monospace;
    text-align: center;
    position: absolute;
    margin: 2px;

}


.top-left {
    left: 4px;
    height: 30px;
    
}


.bottom-right {
    right: 3px;
    bottom: -2px;
    transform: rotate(0.5turn);
}


.symbols {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    margin: 15%;
    width: 75%;
    height: 75%;
    position: relative;
} 
*/

/* 
.symbols div {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 32px;
    transform: scale(1.8);
} */
/* 

.card[number="2"].symbol div {
    left: 50%;
    transform:  translateX(-50%);
}

.card[number="2"].symbol div:nth-child(1) {
    top: 20px;
}

.card[number="2"].symbol div:nth-child(2) {
    top: 20px;
    transform:  translateX(-50%) rotate(0.5turn);
} */

