// @import '../assets/variables.scss';


div[number$="A"] .symbols div {
  top: 65px;
  left: 45px;
  transform: scale(3.75);
}

div[number$="2"] .symbols div {
  position: absolute;
  left: 35%;
}

div[number$="2"] .symbols div:nth-child(1) {
  top: 15%;
}
div[number$="2"] .symbols div:nth-child(2) {
  bottom: 15%;
  transform: rotate(0.5turn) scale(2.1);
}



div[number$="3"] .symbols div {
  position: absolute;
  left: 35%;
}
div[number$="3"] .symbols div:nth-child(1) {
  top: 15%;
}
div[number$="3"] .symbols div:nth-child(2) {
  bottom: 43%;
}
div[number$="3"] .symbols div:nth-child(3) {
  bottom: 15%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="4"] .symbols div {
  position: absolute;
}
div[number$="4"] .symbols div:nth-child(1) {
  top: 15%;
  left: 20%;
}
div[number$="4"] .symbols div:nth-child(2) {
  top: 15%;
  left: 55%;
}
div[number$="4"] .symbols div:nth-child(3) {
  left: 20%;
  bottom: 15%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="4"] .symbols div:nth-child(4) {
  left: 55%;
  bottom: 15%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="5"] .symbols div {
  position: absolute;
}
div[number$="5"] .symbols div:nth-child(1) {
  top: 15%;
  left: 20%;
}
div[number$="5"] .symbols div:nth-child(2) {
  top: 15%;
  left: 55%;
}
div[number$="5"] .symbols div:nth-child(3) {
  left: 20%;
  bottom: 15%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="5"] .symbols div:nth-child(4) {
  left: 55%;
  bottom: 15%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="5"] .symbols div:nth-child(5) {
  left: 38%;
  bottom: 43%;
}
div[number$="6"] .symbols div {
  position: absolute;
}
div[number$="6"] .symbols div:nth-child(1) {
  top: 15%;
  left: 20%;
}
div[number$="6"] .symbols div:nth-child(2) {
  bottom: 43%;
  left: 20%;
}
div[number$="6"] .symbols div:nth-child(3) {
  top: 70%;
  left: 20%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="6"] .symbols div:nth-child(4) {
  top: 15%;
  left: 55%;
}
div[number$="6"] .symbols div:nth-child(5) {
  bottom: 43%;
  left: 55%;
}
div[number$="6"] .symbols div:nth-child(6) {
  top: 70%;
  left: 55%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="7"] .symbols div {
  position: absolute;
}
div[number$="7"] .symbols div:nth-child(1) {
  top: 15%;
  left: 20%;
}
div[number$="7"] .symbols div:nth-child(2) {
  bottom: 40%;
  left: 20%;
}
div[number$="7"] .symbols div:nth-child(3) {
  top: 70%;
  left: 20%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="7"] .symbols div:nth-child(4) {
  top: 15%;
  left: 55%;
}
div[number$="7"] .symbols div:nth-child(5) {
  bottom: 40%;
  left: 55%;
}
div[number$="7"] .symbols div:nth-child(6) {
  top: 70%;
  left: 55%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="7"] .symbols div:nth-child(7) {
  top: 29%;
  left: 37%;
}
div[number$="8"] .symbols div {
  position: absolute;
}
div[number$="8"] .symbols div:nth-child(1) {
  top: 15%;
  left: 20%;
}
div[number$="8"] .symbols div:nth-child(2) {
  bottom: 43%;
  left: 20%;
}
div[number$="8"] .symbols div:nth-child(3) {
  top: 70%;
  left: 20%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="8"] .symbols div:nth-child(4) {
  top: 15%;
  left: 55%;
}
div[number$="8"] .symbols div:nth-child(5) {
  bottom: 43%;
  left: 55%;
}
div[number$="8"] .symbols div:nth-child(6) {
  top: 70%;
  left: 55%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="8"] .symbols div:nth-child(7) {
  top: 29%;
  left: 37%;
}
div[number$="8"] .symbols div:nth-child(8) {
  bottom: 25%;
  left: 37%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="9"] .symbols div {
  position: absolute;
}
div[number$="9"] .symbols div:nth-child(1) {
  top: 13%;
  left: 20%;
}
div[number$="9"] .symbols div:nth-child(2) {
  top: 13%;
  left: 55%;
}
div[number$="9"] .symbols div:nth-child(3) {
  top: 31%;
  left: 20%;
}
div[number$="9"] .symbols div:nth-child(4) {
  top: 31%;
  left: 55%;
}
div[number$="9"] .symbols div:nth-child(5) {
  bottom: 13%;
  left: 20%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="9"] .symbols div:nth-child(6) {
  bottom: 13%;
  left: 55%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="9"] .symbols div:nth-child(7) {
  bottom: 31%;
  left: 20%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="9"] .symbols div:nth-child(8) {
  bottom: 31%;
  left: 55%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="9"] .symbols div:nth-child(9) {
  top: 40%;
  left: 37%;
}
div[number$="10"] .symbols div {
  position: absolute;
}
div[number$="10"] .symbols div:nth-child(1) {
  top: 13%;
  left: 20%;
}
div[number$="10"] .symbols div:nth-child(2) {
  top: 13%;
  left: 55%;
}
div[number$="10"] .symbols div:nth-child(3) {
  top: 31%;
  left: 20%;
}
div[number$="10"] .symbols div:nth-child(4) {
  top: 31%;
  left: 55%;
}
div[number$="10"] .symbols div:nth-child(5) {
  bottom: 13%;
  left: 20%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="10"] .symbols div:nth-child(6) {
  bottom: 13%;
  left: 55%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="10"] .symbols div:nth-child(7) {
  bottom: 31%;
  left: 20%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="10"] .symbols div:nth-child(8) {
  bottom: 31%;
  left: 55%;
  transform: rotate(0.5turn) scale(2.1);
}
div[number$="10"] .symbols div:nth-child(9) {
  top: 22%;
  left: 37%;
}
div[number$="10"] .symbols div:nth-child(10) {
  bottom: 22%;
  left: 37%;
  transform: rotate(0.5turn) scale(2.1);
}

